@import 'normalize.css';
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul, ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", serif;
  font-size: 16px;
  background-color: #F1F1F1;
  color: #111821;
}

a {
  cursor: pointer;
  color: #111821;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #A5058E;
}

.container {
  max-width: 1230px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.section-title {
  font-size: 34px;
  font-weight: 600;
}

.header {
  padding-top: 46px;
  background-color: #F1F1F1;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 76px;
}

.logo {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: var(--black);
  padding-right: 12px;
  padding-bottom: 4px;
}

.logo::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: #A5058E;
  border-radius: 50%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  -ms-flex-wrap: 500;
      flex-wrap: 500;
  font-size: 18px;
}

.nav-link.active {
  color: #706D70;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  background-color: #F1F1F1;
}

.hero-content {
  margin-top: 124px;
  max-width: 500px;
}

.hero-title {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
  color: #A5058E;
}

.hero-desc {
  line-height: 2;
}

.hero-img {
  width: 494px;
  height: 603px;
}

.services {
  background-color: #fff;
  padding: 90px 0;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.services-card {
  width: 370px;
}

.service-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #A5058E;
}

.service-card-desc {
  font-size: 14px;
  line-height: 2;
}

.portfolio {
  background-color: #F1F1F1;
  padding: 90px 0;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}

.projects-list {
  text-align: center;
  max-width: 930px;
  margin: 0 auto;
}

.prject-img {
  width: 930px;
  height: 500px;
  margin-bottom: 40px;
}

.project-item:not(:last-child) {
  margin-bottom: 90px;
}

.project-title {
  padding-top: 40px;
}

.project-title a {
  font-size: 18px;
  color: #260120;
  text-decoration: underline;
}

.contacts {
  padding: 90px 0;
  text-align: center;
  background-color: #fff;
}

.contacts-container {
  width: 296px;
  margin: 0 auto;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  font-size: 18px;
  margin-bottom: 40px;
}

.contacts-btn {
  margin-bottom: 80px;
}

.message-btn {
  display: inline-block;
  padding: 10px 22px;
  background-color: #111821;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
}

.message-btn:hover, .message-btn:focus {
  background-color: #A5058E;
  color: #fff;
}

.contacts-sosial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sosial-icon {
  fill: #706D70;
}

.sosial-link:hover > .sosial-icon,
.sosial-link:focus > .sosial-icon {
  fill: #A5058E;
}