/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul, ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", serif;
  font-size: 16px;
  background-color: #F1F1F1;
  color: #111821;
}

a {
  color: #111821;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #A5058E;
}

.section-title {
  font-size: 34px;
  font-weight: 600;
}

.container {
  width: 375px;
  padding: 0 30px;
  margin: 0 auto;
}

.no_scroll {
  overflow: hidden;
}

.header {
  padding-top: 40px;
  padding-bottom: 50px;
}

.logo {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #111821;
  padding-right: 12px;
  padding-bottom: 4px;
}
.logo:hover, .logo:focus {
  color: #111821;
}
.logo::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: #A5058E;
  border-radius: 50%;
}
.logo::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #A5058E;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover::before {
  width: 90%;
}

.nav-list {
  display: none;
}

.nav.open .nav-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  padding: 100px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  font-weight: 600;
  font-size: 34px;
}

.nav-link {
  color: #706D70;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-nav-btn {
  display: block;
  z-index: 1;
}

.hero-img-wrap {
  display: grid;
  place-items: center;
}

.hero-img {
  width: 296px;
  height: 367px;
}

.hero-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  color: #A5058E;
}

.hero-desc {
  line-height: 2;
}

.hero-content {
  margin-bottom: 20px;
}

.services {
  background-color: #fff;
  padding: 60px 0;
}

.service-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #A5058E;
}

.service-card-desc {
  font-size: 14px;
  line-height: 2;
}

.services-card:not(:last-child) {
  margin-bottom: 60px;
}

.portfolio {
  padding: 60px 0;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 50px;
}

.project-item {
  margin: 0 auto;
  max-width: 315px;
}

.project-item:not(:last-child) {
  margin-bottom: 55px;
}

.project-title {
  margin-top: 30px;
  text-align: center;
}

.project-title a {
  color: #260120;
  text-decoration: underline;
}
.project-title a:hover, .project-title a:focus {
  color: #A5058E;
}

.contacts {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
}

.contacts-container {
  width: 296px;
  margin: 0 auto;
}

.contacts-title {
  margin-bottom: 20px;
}

.contacts-content {
  font-size: 18px;
  margin-bottom: 20px;
}

.contacts-btn {
  margin-bottom: 70px;
}

.message-btn {
  display: inline-block;
  padding: 10px 22px;
  background-color: #111821;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
}

.message-btn:hover, .message-btn:focus {
  background-color: #A5058E;
  color: #fff;
}

.contacts-sosial {
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc((100% - 160px) / 4);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sosial-icon {
  fill: #706D70;
}

.sosial-link:hover > .sosial-icon,
.sosial-link:focus > .sosial-icon {
  fill: #A5058E;
}

.after-footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #F1F1F1;
}

.policy a {
  font-size: 12px;
  color: #706D70;
}

.copy a {
  font-size: 14px;
  color: #706D70;
}

.copy {
  font-size: 14px;
  color: #706D70;
}