<section class="contact">
    <div class="container">
        <div class="contact-content">
            <h3 class="contact-title">Contact with me</h3>
        </div>
        <div class="contact-form-wrap">
            <form class="form" action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="dfedcb10-a36f-44d9-9825-c8261fc769aa">
                <div class="input-group">
                    <input type="text" name="name" autocomplete="off" required>
                    <label for="">name*</label>
                </div>
                <div class="input-group">
                    <input type="tel" name="phone" autocomplete="off" required>
                    <label for="">phone*</label>
                </div>
                <div class="input-group">
                    <input type="email" name="email" autocomplete="off" required>
                    <label for="">email*</label>
                </div>
                <div class="input-group">
                    <textarea name="message"></textarea>
                    <label for="">message</label>
                </div>
                <input type="checkbox" name="rule" id="checkbox" class="input-checkbox hidden" required>
                <label for="checkbox" class="check-text"><p>I accept the terms and conditions of the</p> <a href="" class="check-link">Privacy Policy</a></label>
                <button type="submit" class="contact-form-btn">Send</button>
            </form>
            <!-- <form action="https://api.web3forms.com/submit" method="POST" class="contact-form">
                <input type="hidden" name="access_key" value="dfedcb10-a36f-44d9-9825-c8261fc769aa">
                <input id="name" type="text" name="name" placeholder="Name" autocomplete="off">
                <input id="phone" type="tel" name="phone" placeholder="Phone*" required autocomplete="off">
                <input id="email" type="email" name="email" placeholder="Email*" required autocomplete="off"> 
                <textarea name="message" id="message" placeholder="Enter your message..."></textarea>
                <input type="checkbox" name="rule" id="checkbox" class="input-checkbox hidden" required>
                <label for="checkbox" class="check-text"><p>I accept the terms and conditions of the</p> <a href="" class="check-link">Privacy Policy</a></label>
                <button type="submit" class="contact-form-btn">Send</button>
            </form> -->
        </div>
    </div>  
</section>