<div class="contacts-container">
    <div class="contacts-title">
        <h2 class="section-title">Contacts</h2>
    </div>
    <div class="contacts-content">
        <p>Want to know more or just chat? 
            You are welcome!</p>
    </div>
    <div class="contacts-btn">
        <a href="../contacts/index.html" class="message-btn">Send message</a>
    </div>
    <ul class="contacts-sosial" >
        <li class="contact-item">
            <a href="https://www.linkedin.com/in/maryna-ozkara/" target="_blank" class="sosial-link">
                <svg class="sosial-icon" width="40" height="40">
                    <use href="/img/symbol-defs.svg#icon-linkedin"></use>
                </svg>
            </a>
        </li>
        <li class="contact-item">
            <a href="https://www.facebook.com/profile.php?id=100089637162638" target="_blank" class="sosial-link">
                <svg class="sosial-icon" width="46" height="46">
                    <use href="/img/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="contact-item">
            <a href="https://t.me/OzkaraM" target="_blank" class="sosial-link">
                <svg class="sosial-icon" width="40" height="40">
                    <use href="/img/symbol-defs.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="contact-item">
            <a href="https://wa.me/37255578291" target="_blank" class="sosial-link">
                <svg class="sosial-icon" width="40" height="40">
                    <use href="/img/symbol-defs.svg#icon-whatsapp"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="after-footer"> 
       <div class="policy">
          <a href="/privacy-policy" target="_blank">Privacy Policy</a>&nbsp;|&nbsp;<a href="/cookie/" target="_blank">Cookie Policy</a>
       </div>
       <div class="copy">
       <a href="https://github.com/MarynaOzkara" target="_blank">Ozkara-dev</a> © <script type="text/javascript"> document.write((new Date()).getFullYear())</script>
       </div>
    </div>
</div>