<section class="gallery">
    <div class="container">
        <h1 class="hidden">Portfolio</h1>
        <ul class="portfolio-filter">
            <li class="filter-item">
                <button class="filter-btn">All</button>
                <button class="filter-btn">Frontend</button>
                <button class="filter-btn">Backend</button>
                <button class="filter-btn">Mobile App</button>
            </li>
        </ul>
        <ul class="portfolio-list">
            <li class="portfolio-list-item">
                <a href="https://marynaozkara.github.io/goit-markup-hw-07/" class="portfolio-list-link" target="_blank">
                    <div class="overlay-wrap">
                        <img src="/img/projects/web-studio-sm.png" alt="Web Studio" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Web Studio
                        </h2>
                        <p class="portfolio-list-desc">Frontend</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a target="_blank" href="https://inna1312.github.io/team-proj-demo/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/watches-sm.png" alt="Watches" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Watches
                        </h2>
                        <p class="portfolio-list-desc">Frontend</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a target="_blank" href="https://anastasiiapavlovska.github.io/tasty-treats-group-11/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/tasty-thead-sm.png" alt="Tasty Treads" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Tasty Treads
                        </h2>
                        <p class="portfolio-list-desc">Frontend</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a target="_blank" href="https://marynaozkara.github.io/MyMoviesApp/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/movies-app-sm.png" alt="Movies App" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Movies App
                        </h2>
                        <p class="portfolio-list-desc">Frontend</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a target="_blank" href="https://bukarka.vercel.app/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/bukarka-sm.png" alt="Bukarka" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Bukarka
                        </h2>
                        <p class="portfolio-list-desc">Backend</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a target="_blank" href="https://sokilskill.github.io/project-daily-energy-dose/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/power-puls-sm.jpg" alt="Power Pulse">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Power Pulse
                        </h2>
                        <p class="portfolio-list-desc">Backend</p>
                    </div>
                </a>
            </li>          
        </ul>
    </div>
</section>