<section class="gallery">
    <div class="container">
        <h1 class="hidden">Portfolio</h1>
        <ul class="portfolio-filter">
            <li ><button type="button" data-f="all" class="filter-btn">All</button></li>
            <li><button  data-f="frontend" class="filter-btn">Frontend</button></li>
            <li><button  data-f="backend" class="filter-btn">Backend</button></li>
            <li><button  data-f="mobileapp" class="filter-btn">Mobile App</button></li>
        </ul>
        <ul class="portfolio-list">
            <li class="portfolio-list-item frontend">
                <a href="https://easy-shop-pi.vercel.app/" class="portfolio-list-link" target="_blank">
                    <div class="overlay-wrap">
                        <img src="/img/projects/easy-shop-sm.webp" alt="E-commerce" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Easy Shop</h2>
                            <p class="portfolio-list-desc">Frontend | Backend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">Reactjs</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Nodejs</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">MongoDb</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Vercel</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item frontend">
                <a href="https://awards-games.netlify.app/" class="portfolio-list-link" target="_blank">
                    <div class="overlay-wrap">
                        <img src="img/projects/awards-games.jpg" alt="Awards Games" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Awards Games</h2>
                            <p class="portfolio-list-desc">Frontend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">Reactjs</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">GSAP</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Netlify</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item backend">
                <a target="_blank" href="https://bukarka.vercel.app/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/bukarka-sm.png" alt="Bukarka" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Bukarka</h2>
                            <p class="portfolio-list-desc">Backend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">Nodejs</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Express</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Restfull-Api</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">MongoDb</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item frontend">
                <a target="_blank" href="https://marynaozkara.github.io/MyMoviesApp/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/movies-app-sm.jpg" alt="Movies App" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Movies App</h2>
                            <p class="portfolio-list-desc">Frontend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">Reactjs</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Redux</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Dark Mode</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Lang Switcher</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item frontend">
                <a href="https://marynaozkara.github.io/goit-markup-hw-07/" class="portfolio-list-link" target="_blank">
                    <div class="overlay-wrap">
                        <img src="/img/projects/web-studio-sm.png" alt="Web Studio" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Web Studio</h2>
                            <p class="portfolio-list-desc">Frontend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">HTML5</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">CSS3</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">JavaScript</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item frontend">
                <a target="_blank" href="https://inna1312.github.io/team-proj-demo/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/watches-sm.png" alt="Watches" class="overlay-img">
                    </div>
                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Watches</h2>
                            <p class="portfolio-list-desc">Frontend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">HTML5</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">CSS3</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">JavaScript</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item frontend">
                <a target="_blank" href="https://anastasiiapavlovska.github.io/tasty-treats-group-11/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/tasty-thead-sm.png" alt="Tasty Treads" class="overlay-img">
                    </div>

                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Tasty Treads</h2>
                            <p class="portfolio-list-desc">Frontend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">HTML5</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">CSS3</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">JavaScript</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item mobileapp">
                <a target="_blank" href="https://sokilskill.github.io/project-daily-energy-dose/" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="/img/projects/power-pulse-sm.jpg" alt="Power Pulse">
                    </div>
                    <div class="portfolio-list-wrap">
                        <div class="portfolio-desc-wrap">
                            <h2 class="portfolio-list-title">Power Pulse</h2>
                            <p class="portfolio-list-desc">Backend</p>
                        </div>
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <span class="technologies-title">Nodejs</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Express</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">Restfull-Api</span>
                            </li>
                            <li class="technologies-item">
                                <span class="technologies-title">MongoDb</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>          
        </ul>
    </div>
</section>
