<section class="gallery">
    <div class="container">
        <h1 class="hidden">Portfolio</h1>
        <ul class="portfolio-filter">
            <li class="filter-item">
                <button class="filter-btn">All</button>
                <button class="filter-btn">Frontend</button>
                <button class="filter-btn">Backend</button>
                <button class="filter-btn">Mobile App</button>
            </li>
        </ul>
        <ul class="portfolio-list">
            <li class="portfolio-list-item">
                <a href="" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="" alt="">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Web Studio
                        </h2>
                        <p class="portfolio-list-desc">Web-studio company with adptive layout</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a href="" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="" alt="">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Web Studio
                        </h2>
                        <p class="portfolio-list-desc">Web-studio company with adptive layout</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a href="" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="" alt="">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Web Studio
                        </h2>
                        <p class="portfolio-list-desc">Web-studio company with adptive layout</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a href="" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="" alt="">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Web Studio
                        </h2>
                        <p class="portfolio-list-desc">Web-studio company with adptive layout</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a href="" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="" alt="">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Web Studio
                        </h2>
                        <p class="portfolio-list-desc">Web-studio company with adptive layout</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-list-item">
                <a href="" class="portfolio-list-link">
                    <div class="overlay-wrap">
                        <img src="" alt="">
                    </div>
                    <div class="portfolio-list-wrap">
                        <h2 class="portfolio-list-title">Web Studio
                        </h2>
                        <p class="portfolio-list-desc">Web-studio company with adptive layout</p>
                    </div>
                </a>
            </li>
            
           
        </ul>
    </div>
</section>