<header class="header">
    <div class="container">
        <div class="header-nav">
            <a href="/index.html" class="logo">Ozkara-dev</a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/index.html" class="nav-link" data-i18n="nav.home" data-page="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/portfolio.html" class="nav-link lng-portfolio" data-i18n="nav.portfolio" data-page="portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contacts.html" class="nav-link lng-contact" data-i18n="nav.contact" data-page="contact">Contact</a>
                    </li>
                </ul>
                <select class="change-lang">
                    <option value="en" selected>EN</option>
                    <option value="ua">UA</option>
                </select>
            </nav>
            <button type="button" class="mob-nav-btn">
                <img class="nav-btn-img" src="/img/nav.svg" alt="nav button">
            </button>    
        </div>
    </div>
</header>