<header class="header">
    <div class="container">
        <div class="header-nav">
            <a href="/index.html" class="logo">Ozkara-dev</a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/portfolio.html" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contacts.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="mob-nav-btn">
                <img class="nav-btn-img" src="/img/nav.svg" alt="nav button">
            </button>    
        </div>
    </div>
</header>