<header class="header">
    <div class="container">
        <div class="header-nav">
            <a href="/index.html" class="logo">Ozkara-dev</a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/index.html" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/portfolio/index.html" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contacts/index.html" class="nav-link">Contact</a>
                    </li>
                </ul>
                <button class="mob-nav-btn">
                    <svg class="mob-menu-icon" width="32" height="22">
                        <use href="/img/symbol-defs.svg#icon-burger"></use>
                    </svg>
                </button>
            </nav>
        </div>
    </div>
</header>