<section class="hero" >
    <div class="hero-container container">
        <div class="hero-content" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="hero-title" data-i18n="pages.home.title">Maryna Ozkara FullStack Developer</h1>
            <p class="hero-desc" data-i18n="pages.home.descr">I develop both client and server part of software aplications. As a FullStack developer, I can take ideas from concept to completion, handling the entire process from start to finish.</p>
        </div>
        <div class="hero-img-wrap" data-aos="fade-left" data-aos-duration="1000">
            <img src="/img/hero.png" alt="Maryna Ozkara" class="hero-img">
        </div>
    </div>
   
</section>