<section class="portfolio">
    <div class="portfolio-container">
        <div class="portfolio-title">
            <h2 class="section-title" data-i18n="pages.home.portfolio.title">Portfolio</h2>
        </div>
        <ul class="projects-list">
            <li class="project-item" data-aos="flip-left" data-aos-duration="500">
                <a target="_blank" href="https://easy-shop-pi.vercel.app/"><img src="/img/easy-shop.webp" alt="e-commerce" class="project-img"></a>
                <h3 class="project-title"><a data-i18n="pages.home.portfolio.projects.pjc4" target="_blank" href="https://easy-shop-pi.vercel.app/">Easy Shop - full stack project with admin panel</a></h3>
            </li>
            <li class="project-item" data-aos="flip-left" data-aos-duration="500">
                <a target="_blank" href="https://marynaozkara.github.io/goit-markup-hw-07/"><img src="/img/web-studio.webp" alt="web-studio" class="project-img"></a>
                <h3 class="project-title"><a data-i18n="pages.home.portfolio.projects.pjc1" target="_blank" href="https://marynaozkara.github.io/goit-markup-hw-07/">Web-studio company with  adaptive layout</a></h3>
            </li>
            <li class="project-item" data-aos="flip-left" data-aos-duration="500">
                <a target="_blank" href="https://inna1312.github.io/team-proj-demo/"><img src="/img/watches.webp" alt="thewatchspot" class="project-img"></a>
                <h3 class="project-title"><a data-i18n="pages.home.portfolio.projects.pjc2" target="_blank" href="https://inna1312.github.io/team-proj-demo/">Responsive web site of Watches company</a></h3>
            </li>
            <li class="project-item" data-aos="flip-left" data-aos-duration="500">
                <a target="_blank" href="https://anastasiiapavlovska.github.io/tasty-treats-group-11/"><img src="/img/tasty-treats.webp" alt="tasty-treats" class="project-img"></a>
                <h3 class="project-title"><a data-i18n="pages.home.portfolio.projects.pjc3" target="_blank" href="https://anastasiiapavlovska.github.io/tasty-treats-group-11/">Site of healthy food recipes with categories</a></h3>
            </li>
        </ul>
        <div class="projects-btn">
            <a href="/portfolio.html" class="projects-btn-link" data-i18n="pages.home.portfolio.btn">All projects</a>
        </div>
    </div> 
</section>