<section class="portfolio">
    <div class="portfolio-container">
        <div class="portfolio-title">
            <h2 class="section-title">Portfolio</h2>
        </div>
        <ul class="projects-list">
            <li class="project-item" data-aos="flip-left" data-aos-duration="500">
                <img src="/img/web-studio.jpg" alt="web-studio" class="project-img">
                <h3 class="project-title"><a target="_blank" href="https://marynaozkara.github.io/goit-markup-hw-07/">Web-studio company with  adptive layout</a></h3>
            </li>
            <li class="project-item" data-aos="flip-left" data-aos-duration="500">
                <img src="/img/watches.jpg" alt="thewatchspot" class="project-img">
                <h3 class="project-title"><a target="_blank" href="https://inna1312.github.io/team-proj-demo/">Responsive web site of Watches company</a></h3>
            </li>
            <li class="project-item" data-aos="flip-left" data-aos-duration="500">
                <img src="/img/tasty-treats.jpg" alt="tasty-treats" class="project-img">
                <h3 class="project-title"><a target="_blank" href="https://anastasiiapavlovska.github.io/tasty-treats-group-11/">Site of healthy food resipes with categories</a></h3>
            </li>
        </ul>
        <div class="projects-btn">
            <a href="../portfolio/index.html" class="projects-btn-link">All projects</a>
        </div>
    </div> 
</section>