<section class="services">
    <div class="container">
        <ul class="services-list">
            <li class="services-card" data-aos="fade-left" data-aos-delay="100">
                <div class="service-card-img" >
                    <svg class="card-icon" width="100" height="100">
                        <use href="/img/symbol-defs.svg#icon-front-end"></use>
                    </svg>
                </div>
                <h3 class="service-card-title">front-end</h3>
                <p class="service-card-desc">I specialize in creating stunning, responsive and user-friendly websites using technologies such as <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>Reactjs</b>, <b>Nextjs</b>.</p>
            </li>
            <li class="services-card" data-aos="fade-left" data-aos-delay="300">
                <div class="service-card-img" >
                    <svg class="card-icon" width="100" height="100">
                        <use href="/img/symbol-defs.svg#icon-developer"></use>
                    </svg>
                </div>
                <h3 class="service-card-title">back-end</h3>
                <p class="service-card-desc">Using modern technologies such as <b>Node.js</b>, <b>Express</b>, <b>Nestjs</b>, <b>MongoDb</b>, <b>PostgreSQL</b> I build fast, scalable RESTful APIs and backend systems.</p>
            </li>
            <li class="services-card" data-aos="fade-left" data-aos-delay="500">
                <div class="service-card-img">
                    <svg class="card-icon" width="100" height="100">
                        <use href="/img/symbol-defs.svg#icon-app-development"></use>
                    </svg>
                </div>
                <h3 class="service-card-title">mobile  developing</h3>
                <p class="service-card-desc">With <b>React Native</b> I develop modern, fast and visually stunning mobile applications that deliver a native-like experience.</p>
            </li>
        </ul>
    </div>
    
</section>