.contacts {
    padding: 60px 0;
    text-align: center;
    background-color: $white;
}
.contacts-container {
    width: 296px;
    margin: 0 auto;
}
.contacts-title {
    margin-bottom: 20px;
}
.contacts-content {
    font-size: 18px;
    margin-bottom: 20px;
}
.contacts-btn {
    margin-bottom: 70px;
}
.message-btn {
    display: inline-block;
    padding: 10px 22px;
    background-color: $black;
    border-radius: 30px;
    font-size: 18px;
    color: $white;
}
.message-btn:hover, .message-btn:focus{
    background-color: $acsent;
    color: $white;
}
.contacts-sosial {
    max-width: 315px;
    display: flex;
    gap:calc((100% - 160px) / 4);
    align-items: center;
    justify-content: space-between;
}
.sosial-icon {
    fill: $gray;
}
.sosial-link:hover > .sosial-icon,
.sosial-link:focus > .sosial-icon {
    fill: $acsent;
}
.after-footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $main-bg;
}
.policy a{
    font-size: 12px;
    color: $gray;
}
.copy a{
    font-size: 14px;
    color: $gray;
}
.copy{
    font-size: 14px;
    color: $gray; 
}