
.hero-img-wrap{
   display: grid;
   place-items: center;
   max-width: 296px;
}
.hero-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    color: $acsent;  
}
.hero-desc {
    line-height: 2;
}
.hero-content{
    padding-top: 50px;
    margin-bottom: 20px;
}

@include mediaTablet{
    .hero-container{
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .hero-content{
        max-width: 350px;
        margin-bottom: 0;
    }
    .hero-img-wrap{
        display: block;
    }
}
@include mediaDesctop{
    .hero-container{
        padding-top: 85px;
    }
    .hero-content{
        max-width: 500px;
        margin-top: 115px;
        padding-top: 0;
    }
    .hero-title{
        font-size: 44px;
    }
    .hero-img-wrap{
        max-width: 494px;
    }
}



