.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: $main-bg;
}
.hero-content {
    margin-top: 124px;
    max-width: 500px;
}
.hero-title {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
    color: $acsent;
}
.hero-desc {
    line-height: 2;
}

.hero-img {
    width: 494px;
    height: 603px;
}