.hero-img-wrap{
   display: grid;
   place-items: center;
}
.hero-img {
   
    width: 296px;
    height: 367px;   
}
.hero-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    color: $acsent;  
}
.hero-desc {
    line-height: 2;
}
.hero-content{
    margin-bottom: 20px;
}
// .hero-container {
//     display: flex;
//     justify-content: space-between;
//     gap: 30px;
//     background-color: $main-bg;
// }
// .hero-content {
//     margin-top: 124px;
//     max-width: 500px;
    
// }



