.portfolio {
    padding: 60px 0;
}
.portfolio-container{
    width: 375px;
    padding: 0 30px;
    margin: 0 auto;
}
.portfolio-title{
    text-align: center;
    margin-bottom: 50px;
}
.project-item{
    margin: 0 auto;
    max-width: 315px;
}
.project-item{
    margin-bottom: 55px;
}
.project-title{
   margin-top: 30px;
   text-align: center;
}
.project-title a{
   
    color: $secondary-text;
    text-decoration: underline;

    &:hover, &:focus{
        color: $acsent;
    }
}
.projects-btn {
    text-align: center;
}
.projects-btn-link {
    display: inline-block;
    padding: 6px 20px;
    background-color: $white;
    border-radius: 30px;
    border: 2px solid $black;
    font-size: 18px;
    color: $black;
}
.projects-btn-link:hover, .projects-btn-link:focus{
    border: 2px solid $acsent;
    color: $acsent;
}

@include mediaTablet{
    .project-item{
        max-width: 500px;
    }
    .projects-btn{
        text-align: right;
    }
    .portfolio-container{
        padding: 0;
        width: 600px;
    }
}
@include mediaDesctop{
    .portfolio {
        padding: 90px 0;
    }
    .portfolio-title{
        margin-bottom: 70px;
    }
    .portfolio-container{
        width: 930px;
    }
    .project-item{
        max-width: 930px;
        margin-bottom: 90px;
    }
    .project-title{
        margin-top: 40px;
        font-size: 18px;
    }
}

