@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: $font-main;
    font-size: 16px;
    background-color: $main-bg;
    color: $black ;
}

a {
    color: $black;
    transition: color 0.2s ease-in;

    &:hover{
       color: $acsent;
    }
}
.section-title {
    font-size: 34px;
    font-weight: 600;
}
.container{
    width: 375px;
    padding: 0 30px;
    margin: 0 auto;
}
.no_scroll{
    overflow: hidden;
  }

  @include mediaTablet{
    .container{
        width: 768px;
    }
  }
  @include mediaDesctop{
    .container{
        width: 1200px;
    }
  }
