// Fonts

$font-main: 'Poppins', serif;

// Colors

$black: #111821;
$main-bg: #F1F1F1;
$gray: #706D70;
$white: #fff;
$secondary-text: #260120;
$acsent: #A5058E;

// Media

$desctop: 1200px;
$tablet: 768px;
$mobile: 375px;